$white: #ffffff;

$soft-orange: #ffe1e1;
$soft-gray: #f7f7f7;

$brand-primary-50: #ffebde;
$brand-primary-100: #ffc8b0;
$brand-primary-200: #ffa67f;
$brand-primary-300: #ff7442;
$brand-primary-400: #fe5f1c;

$brand-campaign-200: #ffe4de;
$brand-campaign-500: #ff6f51;

$text-black-200: #c0bfbf;
$text-black-300: #a5a5a5;
$text-black-400: #8b8b8b;
$text-black-500: #727272;
$text-black-600: #595959;
$text-black-700: #354860;
$text-black-800: #292525;
$text-black-900: #150a0d;
$text-blackRed-100: #3f1010;

$semantic-success: #48bb78;
$semantic-failure: #e53e3e;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 769px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1445px;

.btn {
  &.solid {
    background-color: $brand-primary-300;
    border: 2px solid $brand-primary-300;
    color: $white;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;

    &:hover {
      background-color: $brand-primary-400;
      border-color: $brand-primary-400;
    }
  }

  &.outlined {
    background-color: transparent;
    color: $brand-primary-300;
    border: 2px solid $brand-primary-300;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    &:hover {
      background-color: $brand-primary-300;
      color: $white;
    }
  }

  &.normal {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #d0d5dd;
    border-right: 1px solid #d0d5dd;
  }

  &.active {
    background-color: #f9fafb;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #d0d5dd;
    border-right: 1px solid #d0d5dd;
  }
}

@mixin responsive-font($mobile, $tablet: null, $desktop: null) {
  font-size: $mobile;

  @if $tablet {
    @media (min-width: $breakpoint-sm) {
      font-size: $tablet;
    }
  }

  @if $desktop {
    @media (min-width: $breakpoint-lg) {
      font-size: $desktop;
    }
  }
}

// Spacing utilities
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 1.5rem; // 24px
$spacing-xl: 2rem; // 32px
$spacing-2xl: 3rem; // 48px
$spacing-3xl: 3.125rem; // 50px
$spacing-4xl: 5rem; // 80px
$spacing-5xl: 9.375rem; // 150px

.stack {
  display: flex;
  flex-direction: column;

  &--gap-sm {
    gap: $spacing-3xl;

    @media (min-width: $breakpoint-sm) {
      gap: $spacing-4xl;
    }

    @media (min-width: $breakpoint-md) {
      gap: $spacing-5xl;
    }
  }
}

// Responsive mixins
@mixin responsive-gap($mobile, $tablet: null, $desktop: null) {
  gap: $mobile;

  @if $tablet {
    @media (min-width: $breakpoint-sm) {
      gap: $tablet;
    }
  }

  @if $desktop {
    @media (min-width: $breakpoint-md) {
      gap: $desktop;
    }
  }
}
